.App {
  text-align: center;

  height: 100%;
  width: 100%;

}

.App-header {
  height: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: limegreen;
}

.App-body {
  height: 95vh;
  width: 100vw;
  background-color: yellowgreen;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App-Lobby {
  width: 1200px;
  height: 700px;
  background-color: lightcyan;
  margin-left:auto;
  margin-right:auto;

  position: absolute;
}